body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #212529;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
  color: #0077b6;
  padding-bottom: 30px;
}

a {
  color: #212529;
  text-decoration: none;
}

.extra-info {
  color: #6c7571;
}

a.gitHub {
  color: #0077b6;
  text-decoration: underline;
}

#description::first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.unit-toggle {
  color: #03045e;
  margin-inline-start: 95px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weather-app {
  padding: 50px;
  border: 1px solid #00b4d8;
  border-radius: 8px;
  background: rgba(202, 240, 248, 0.25);
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #03045e;
  font-size: 64px;
  line-height: 1;
  font-weight: bolder;
}

.weather-temperature span {
  color: #03045e;
  font-size: 26px;
  line-height: 1;
}

.unitToggle .active {
  color: #0077b6;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.unitToggle .active:hover {
  text-decoration: none;
}
